.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

.text-gray {
    /* Dark 02 */
    color: #424242;
}

.text-light-gray {
    /* Dark 03 */
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* Main Styles */

/* Navbar Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}


/* Banner Styles */

.navbar,
.banner,.footer
 {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-image {
    width: 100%;
}


/* ===Teams Section=== */

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

/* ===Experience Section=== */

.experience-section {
    gap: 140px;
}

#experience-section-title {
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.experience-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.experience-card .experience-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}


#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -95px;
    margin-top: -75px;

}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}


/* some fact related style */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
    margin-bottom: 100px;
}

/* sponsor related style */

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* ===Footer=== */

.footer{
    /* border: 1px solid red; */
    max-width: 1440px;
    margin: 130px auto 215px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 38px
}

.footer p{
    font-size: 1.25rem;
    color: #424242;
}

/* ===== RESPONSIVE ===== */

/* small device */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams,
    .experience-section,
    .footer {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }

    .our-features {
        margin-left: 20px;
    }

    .experience-architect img {
        width: 100%;
    }

    #experience-badge {
        margin-left: 20px;
        margin-top: 20px;
    }
}

/* Medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .teams,
    .experience-section {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsor-companies,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .experience-architect img {
        width: 100%;
    }

    #experience-badge {
        margin-left: 20px;
        margin-top: 20px;
    }
}